{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="btns2">
    <a class="link2" href="{% url 'app:index' %}">Home</a>
    <a class="link2" href="{% url 'app:see_data' %}">See data</a>
</div>
<div class="add-data">
    <div class="form-btns">
        <button class="btn" id="add">Add field</button>
        <button class="btn" type="submit" form="1">Save</button>
        <button class="btn" type="submit" name="reset" form="1">Reset</button>
    </div>
    <form action="{% url 'app:add_data' %}" method="post" class="form" id="1">
        {% csrf_token %}
    </form>
   
</div>
<script type="module" src="{% static 'app/script.js' %}"></script>
{% endblock content %}